<footer class="footer">
    <div class="outer">
        <%# "不蒜子统计" %>

            <ul>
                <li>
                    <% if (theme.busuanzi && theme.busuanzi.enable){ %>
                        <%- partial('post/busuanzi') %>
                            <% } %>
                </li>
            </ul>
            <!-- ICP备案信息尾部显示 -->
            <ul>
                <% if (theme.icp&&theme.icp.enable){ %>
                    <li>
                        <a href="<%= theme.icp.url %>" target="_black" rel="nofollow">
                            <%= theme.icp.text %>
                        </a>
                    </li>
                    <% } %>
            </ul>
            <!-- 公安备案信息尾部显示 -->
            <ul>
                <% if (theme.gongan&&theme.gongan.enable){ %>
                    <li>
                        <img src="<%= theme.gongan.img %>"></img>
                        <a href="<%= theme.gongan.url %>" target="_black" rel="nofollow">
                            <%= theme.gongan.text %>
                        </a>
                    </li>
                    <% } %>
            </ul>
            <ul>
                <li>
                    免责声明:本网站所有内容均不参与商业获利，仅供学习和交流。

                    <br>若侵犯了您的权益，请发邮件通知站长，邮箱:nickmechlin01@outlook.com
                </li>
            </ul>

            <ul>
                <li>
                    <!-- cnzz统计 -->
                    <% if (theme.cnzz&&theme.cnzz.enable){ %>
                        <script type="text/javascript" src='<%= theme.cnzz.url%>'></script>
                        <% } %>
                </li>
            </ul>
    </div>
</footer>